<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSInterfaceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSInterfaceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/axis2/services/WSInterface.WSInterfaceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="WSInterfaceSoap11Binding"
                contract="ServiceReference1.WSInterfacePortType" name="WSInterfaceHttpSoap11Endpoint" />
        </client>
    </system.serviceModel>
</configuration>